h1 {
	text-align: center;
}

h2 {
  text-align: center;
}

.container {
  display: flex;
  align-items: left;
  justify-content: left;
  padding-left: 50px;
}

img {
  max-width: 100%
}

.image {
	justify-content: center;
  	flex-basis: 48%
}





